@import url("https://fonts.googleapis.com/css2?family=Forum&family=Quicksand:wght@300..700&family=Rufina:wght@400;700&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Lao Sangam MN", serif;
}

.ty-forum {
  font-family: "Forum", serif;
  font-weight: 600;
}

.autofill {
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
}
